
@{ 
    Layout = null;
}


<h2>JS Demo</h2>

<div class="col-md-6">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-6">Enter Number 1:</div>
            <div class="col-md-6">
                <input id="input1" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">Enter Number 1:</div>
            <div class="col-md-6">
                <input id="number"id=input1"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">Enter Number 2:</div>
            <div class="col-md-6">
                <input id="number" id=input2"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary">Click Me</button>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <p id="sum><p>"
            </div>

            <script>

                $("#btn1").click(function () {
                    //Step1: Get the user data
                    var num1 = Number($("#input1").val());
                    var num1 = Number($("#input1").val());

                    //Step2: Get the user data
                    var sum = num1 + num2;
                    var mult = num1 * num2;

                    //Step3: Get the user data
                    $("#sum").text("The sum is: " = sum);
                    $("#mult").text("The mult is: " = mult);

                })

            </script>






            </script>


            <!--How do I interact with the Document Object Model (DOM)-->
            <!-- Step 1:Get the data
             Step 2: Do something with the data like Make calculation
             Step 3: Show the result to the user
            -->
